.library {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    gap: 10px;
}
.sortOptions {
    display: flex;
    width: 100%;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.filter {
    text-align: center;
    border: 1px solid var(--colorGrey);
    box-shadow: inset var(--colorBlackOpacityLigth);
    border-radius: 4px;
    background-color: var(--colorLightGrey);
}
.filterText {
    padding: 0px 10px;
}
.iconView {
    text-align: center;
    border: 1px solid var(--colorGrey);
    box-shadow: inset var(--colorBlackOpacityLigth);
    border-radius: 4px;
    background-color: var(--colorLightGrey);
    width: 41px;
    height: 41px;
}
.field__select div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.field_search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchIcon {
    font-size: 30px;
    margin: 0 20px;
}
.iconView {
    font-size: 50px;
    color: var(--colorRed);
}

.visualization {
    display: flex;
    margin: auto;
    width: 90%;
}
@media (max-width: 768px) {
    .iconView {
        font-size: 30px;
    }
}
