.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.menu {
    width: 200px;
    padding: 20px 0;
    overflow: hidden;
    border: 1px solid var(--colorGrey);
    box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
    background-color: #fefefe;
    font-weight: normal;
    line-height: 1.5;
}

.outlet {
    width: 100%;
    height: 100vh;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        position: relative;
    }
    .menu {
        width: 100%;
        overflow: hidden;
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
    .outlet {
        margin: 0 auto 80px auto;
    }
}
