.table {
    table-layout: auto;
}

.table,
.table th,
.table td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 0 5px;
}
.table th {
    background-color: var(--colorRedOpacity);
    padding: 10px;
}

.edit {
    text-decoration: underline;
    cursor: pointer;
}
.edit p {
    color: blue;
    text-decoration: underline blue;
}
@media (max-width: 450px) {
}
