.table {
    width: 100%;
    table-layout: fixed;
}
.table,
.table th,
.table td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
.table th {
    background-color: var(--colorRedOpacity);
}

.authorsTable,
.booksTable {
    width: max-content;
}

@media (max-width: 450px) {
}
